<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1>Welcome to the MusicApp!</h1>
    <% if logged_in? %>
      <h3>Welcome to our site, <%= current_user.username %></h3>
      <form action=<%= session_url %> method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Log out">
      </form>
    <% else %>
      <a href=<%= new_session_url %>>Log in!</a>
      <a href=<%= new_user_url %>>Sign up!</a>
    <% end %>
    
    <%= yield %>
    
    <% if flash[:errors] %> <!-- displaying errors if they exist -->
      <% flash[:errors].each do |error| %>
        <%= error %>
      <% end %>
    <% end %>
  </body>
</html>
