<% if type == :new %>
    <% action_url = cats_url %>
    <% button_text = "Create cat" %>
<% elsif type == :edit %>
    <% action_url = cat_url(cat.id) %>
    <% button_text = "Update cat" %>
<% end %>


<form action="<%=action_url%>" method="POST">

    <% if type == :edit %>
      <input type="hidden" name="_method" value="PATCH">
    <% end %>

    <label>Birthdate:
      <input type="date" name="cat[birth_date]" value="<%= cat.birth_date %>">
    </label>

    <br>

    <label>Color:
      <!---<input type="text" name="cat[color]" value="<%#= cat.color %>">--->
      <select name="cat[color]">
        <option selected>--select a color--</option>
        <% Cat::Cat_colors.each do |color| %>
          <option><%= color %></option>
        <% end %>
      </select>
    </label>

    <br>

    <label>Name:
      <input type="text" name="cat[name]"value="<%= cat.name %>">
    </label>

    <br>

    <label>Sex:
      <!---<input type="text" name="cat[sex]" value="<%#= cat.sex %>">--->
      <!---<%#= f.radio_button :sex, 'M' %>M<br />
      <%#= f.radio_button :sex, 'F' %>F<br />--->
      <%= radio_button("cat", "sex", "M") %>M
      <%= radio_button("cat", "sex", "F") %>F
    </label>

    <br>

    <label>Description:
      <!---<input type="text" name="cat[description]" value="<%#= cat.description %>">--->
      <textarea name="cat[description]" cols="30" rows="5"></textarea>
    </label>

    <br>

    <input type="submit" value="<%= button_text %>">
</form>